*{
    margin:0px;
    padding:0px;
    font-family:cursive;
    background-color:pink;
}
.msg-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:100vh;
    font-size: 9vh;
}
.msg-container button{
    height:50px;
    width:100px;
    background-color: red;
    font-weight:500;
    font-size: 2.5vh;
    margin-top:15vh;
}
#gaming-zone{
    margin-top:10vh;
}


#heading{
    height:30px;
    text-align: center;
}
#text{
    font-size: 4vh;
    font-weight:500;
}

#gaming-zone{
    display:flex;
    align-items:center;
    justify-content:center;
}

#main-box{
    height:500px;
    width:520px;
    display:flex;
    align-items:center;
    justify-content:center;
    
    
}
.line{
    background:transparent;
    height:100%;
    width:33%;
    margin:10px;
}




.items{
    height:31%;
    width:98%;
    background-color: rgba(39, 39, 142, 0.725);
    color:black;
    margin-top:10px;
    border-radius:25px;
    border:none;
    box-shadow:12px 12px 12px rgba(0,255,10, 0.35);
    text-align: center;
    font-size:10vh;
    font-weight:500;
    gap:1.5;


}
#data{
    display:inline-block;
    align-items:center;
    justify-content:center;
    position:absolute;
    right:50%;
    padding:15px;
    margin:20px;
}
li{
    padding:8px;
}
#reset{
    height:40px;
    width:80px;
    font-family: cursive;
    font-weight:500;
    font-size:25px;
    background-color:hotpink;
    color:yellow;
    border:2px groove black;
    border-radius:10px;
    margin-top:30px;
    position:absolute;
    top:0vh;
    left:2vh;
}
.hide{
    display:none;
}